{% extends 'base.html' %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
    <div class="col-md-9">
        {% for item in news %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a class="text-decoration-none" href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                    <p class="float-end">Автор: {{ item.author }}</p>
                </div>
                <div class="card-body">

                    {% if item.photo %}
                        <a href="{{ item.get_absolute_url }}"><img src="{{ item.photo.url }}" class="float-lg-start m-lg-2 rounded-1" height="250" width="350" alt=""></a>
                    {% else %}
                        <a href="{{ item.get_absolute_url }}"><img src="https://picsum.photos/id/1060/350/250?blur=2" class="float-lg-start m-lg-2 rounded-1" alt=""></a>
                    {% endif %}

                    <h5>{{ item.title }}</h5>
                    <p>{{ item.preview_content }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать дальше</a>
                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"H:i d E Y " }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        <nav class="col-lg-6 offset-lg-3">
            <ul class="pagination justify-content-xxl-center">

                {% if page_obj.has_previous %}
                    <li class="page-item px-2">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}

                    {% if page_obj.number == page %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>

                    {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item px-2">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

{% endblock %}
